html, body
{
	height: 200%;
    width: 100%;
}

.header
{
	width: 100%;
	height: 2%;
	color: orange;
	background-color: #404040FF;
	margin: 0 auto;
	position: fixed;
	font-size: 15;
}

.h1
{
	font-size: 15px;
}
