html, body
{
	height: 200%;
    width: 100%;
}

.header
{
	width: 100%;
	height: 5%;
	background-color: #404040FF;
	margin: 0 auto;
	position: fixed;
<<<<<<< HEAD
=======
	font-size-adjust: initial;
>>>>>>> c25a5b4a381b91a616c5df487cb493cddd857df5
}

.h
{
	font-size: 95%;
	color: orange;
}